name: Deploy Test

on:
 push:
  branches:
     - test

jobs:
  build:
    name: Build and push containers
    runs-on: ubuntu-latest
    steps:
       - name: Checkout repo
         uses: actions/checkout@v3

       - name: Set up Docker Buildx
         uses: docker/setup-buildx-action@v2

       - name: Log in to DockerHub
         uses: docker/login-action@v2
         with:
           username: ${{ secrets.DOCKER_USERNAME }}
           password: ${{ secrets.DOCKER_PASSWORD }}

       - name: Build and push backend Docker image
         run: |
           docker buildx build --platform linux/amd64 -t ${{ secrets.DOCKER_USERNAME }}/testtask-frontend:test . --push

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Divio CLI
        run: |
          python -m pip install --upgrade pip
          pip install divio-cli

      - name: Log in to Divio
        run: |
          divio login ${{ secrets.DIVIO_API_TOKEN }}

      - name: Deploy to Divio
        run: |
          divio app deploy test --remote-id ${{ secrets.DIVIO_TEST_APP_UUID }}
